.converter {
    max-width: 600px;
    width: 100%;
    background-color: #14151B;
    border: 1px solid #24252D;
    border-radius: 40px;
    padding: 36px 32px;


    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}
@media (max-width: 620px){
    .converter{
        margin: 10px;
    }
}

h1 {
    font-weight: 600;
    font-size: 24px;
    color: #fff;
}

.balance {
    border-radius: 16px;
    background: linear-gradient(173.66deg, rgba(47, 49, 57, 0.8) 2.422%, rgba(36, 37, 44, 0.8) 31.766%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}
@media (max-width: 500px) {
    .balance__info{
        flex-direction: column;
        gap: 20px;
    }
}

span.lable {
    font-size: 14px;
    font-weight: 600;
    color: #AEB0B7;
}

.balance_count {
    display: flex;
    gap: 4px;
    align-items: flex-end;
}

.balance_count span {
    font-size: 20px;
    font-weight: 500;
    color: #AEB0B7;
}

.balance_count span:nth-child(1) {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 600;
}

.balance_stat {
    display: flex;
    gap: 3px;
}

.balance_stat span {
    font-size: 16px;
    font-weight: 500;
    color: #AEB0B7;
}

.balance_stat span:nth-child(1) {
    color: #FFFFFF;
}

.progress_info {
    display: flex;
    gap: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

.progress_info span {
    font-weight: 500;
}

.progress_bar {
    background-color: #090A0E;
    border-radius: 20px;
    height: 16px;
    padding: 3.5px;
}

.MuiFormControl-root {
    margin: 0 !important;
}

.select_platform_block > .MuiInputBase-root {
    position: relative !important;
    color: #FFFFFF !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    font-style: normal !important;
}

.select_platform_block > .MuiInputBase-root::before {
    content: url("data:image/svg+xml,%3Csvg width='18' height='11' viewBox='0 0 18 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 1.5L9.17391 8.5L17 1.5' stroke='%23878892' stroke-width='3'/%3E%3C/svg%3E%0A");
    position: absolute;
    right: 20px;
}

.select_platform_block .MuiInputBase-root svg {
    display: none !important;
}

.MuiOutlinedInput-notchedOutline {
    border: 1px solid #24252D !important;
    border-radius: 16px !important;
}

.MuiSelect-select {
    background-color: #090A0E !important;
    border-radius: 16px !important;
    display: flex !important;
    align-items: center !important;
    gap: 5px;
}

.select_platform_block .MuiSelect-select span {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 26px;
}

.select_platform_block .MuiSelect-select .name {
    margin-bottom: -5px;
}

.MuiPaper-root {
    background-color: #24252D !important;
    border-radius: 16px !important;
    margin-top: 10px !important;
}

.MuiButtonBase-root {
    display: flex !important;
    align-items: center !important;
    gap: 5px;
}

.MuiButtonBase-root span {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 26px;
    color: #FFFFFF !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    font-style: normal !important;
}

.MuiButtonBase-root .name {
    margin-bottom: -5px;
}

.converter_block__info{
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.converter_block__info div{
    display: flex;
    gap: 20px;
}
.converter_block__info span{
    font-weight: 500;
    font-size: 13px;
    color: #fff;
}
.converter_block__info span strong{
    color: #fff;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}

.buttons .text_block {
    background-color: #24252D;
    padding: 12px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 600;
    color: #AEB0B7;
}

.buttons .button button {
    width: 100%;
    height: 52px;
    text-align: center;
    border-radius: 16px;
    background: linear-gradient(144.30deg, rgb(39, 230, 92) 0.074%, rgb(88, 123, 255) 37.973%, rgb(181, 24, 255) 74.325%);
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}

.buttons .buttons_block__wrapper{
    overflow-x: auto;
}

.buttons .buttons_block {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    width: 450px;
    overflow-x: scroll;
}
.buttons .buttons_block button {
    background-color: #24252D;
    border-radius: 12px;
    height: 36px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.buttons .buttons_block button span {
    color: #fff !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    text-transform: none !important;
}
.buttons .buttons_block button span .lable{
    color: #878892 !important;
    font-size: 13px;
    font-weight: 600;
}
.buttons .buttons_block button span .accent {
    background: linear-gradient(147.79deg, rgb(88, 123, 255), rgb(181, 24, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.converter_block__items{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.converter_block__item{
    max-width: 243px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@media (max-width: 490px) {
    .converter_block__items{
        flex-direction: column;
    }
    .converter_block__item{
        max-width: 100%;
    }
}
.converter_block__item .converter_block__input{
    display: flex;
    height: 75px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #090A0E;
    border: 1px solid #313238;
    border-radius: 16px;
    padding-right: 20px;
}

.converter_block__item .converter_block__input .MuiOutlinedInput-notchedOutline {
    border: none !important;
    border-radius: 16px !important;
}

.converter_block__item .converter_block__input img{
    width: 32px !important;
}

.converter_block__item .converter_block__input input{
    max-width: 80px;
    background-color: transparent;
    border: none;
    outline: none;
    height: 100%;
    text-align: right;
    color: #878892;
    font-size: 24px;
    font-weight: 600;
}

.converter_block__item .converter_block__input inputinput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.converter_block__items .converter_block_image{
    margin-top: 25px;
}
@media(max-width: 490px){
    .converter_block__items .converter_block_image{
        margin-top: 15px;
        rotate: 90deg;
    }
}
